<div class="container">
  <button (click)="navigateHome()">Go to home</button>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>Welcome to Foodie Blogs – where culinary creativity meets delectable delights! We are passionate food enthusiasts on a mission to tantalize your taste buds with a symphony of flavors. Join us on a gastronomic journey as we explore recipes, share kitchen tips, and celebrate the joy of cooking. Whether you're a seasoned chef or a kitchen novice, our blog is your go-to destination for inspiration, mouthwatering recipes, and a sprinkle of foodie fun. Let's savor the magic of food together!</p>
   
  </div>
  <div>
    <h2 style="text-align: center; margin: 10px auto">Our Team</h2>
  </div>

  <div>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assets/images/ceo1.jpeg" alt="Jane" style="width: 100%" />
          <div class="container">
            <h2>Ishita Majila</h2>
            <p class="title">CEO & Founder</p>
           
            <p>im&#64;mail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="assets/images/team2.jpeg" alt="Siddharth" style="width: 100%" />
          <div class="container">
            <h2>Siddharth Sinha</h2>
            <p class="title">Web Designer</p>
            
            <p>sid&#64;mail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="assets/images/dr.jpeg" alt="Vishal" style="width: 100%" />
          <div class="container">
            <h2>Vishal Ray</h2>
            <p class="title">Health Specialist</p>
           
            <p>vishal&#64;example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
